<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
        <script>
    var mymodule = angular.module("kuchhModule", []);
    mymodule.controller("kuchhController", function ($scope, $http) {
        $scope.jsonArray = [];

        $scope.doFetch = function () {
          var url = "/do-fetch-all-organizers";

         
          $http.get(url).then(allGoodFx, someBadFx);
          function allGoodFx(response) {
            //resp in JSON array
            alert(JSON.stringify(response.data));
            $scope.jsonArray = response.data;
          }

          function someBadFx(response) {
            alert(JSON.stringify(response.data));
          }
        };
         $scope.oneRecord={};
        $scope.doShowDetails=function(index)
        {
            //alert(JSON.stringify($scope.jsonArray[index]))
            $scope.oneRecord=$scope.jsonArray[index];

        }
    });
   </script>
        
</head>
<body ng-app="kuchhModule" ng-controller="kuchhController" ng-init="doFetch();">
  



  <div class="d-flex justify-content-between align-items-center bg-primary text-white px-3 py-2">
  <img src="pics/logo-for-sporting-event-with-a-man-running-vector.jpg" alt="Arena Logo" width="40" height="40" class="me-2">
  <span class="fw-bold fs-5">ARENA FLOW</span>
</div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 mb-3" ng-repeat="obj in jsonArray" ng-if="obj.emailid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{obj.emailid}}</h5>
            
            <button class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#detailsModal"
        ng-click="doShowDetails($index)">
  Details
</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Shared Modal (Outside ng-repeat) -->
  <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="exampleModalLabel">Organizer Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">
          <img ng-src="{{oneRecord.picurl}}" height="150" width="150" class="rounded mb-3" alt="Organizer Photo" />
          <p>Email ID: {{oneRecord.emailid}}</p>
          <p>
            Registration Number:{{oneRecord.regnumber}}
          </p>
          <p>
            Address:{{oneRecord.address}}
          </p>
          <p>
            City:{{oneRecord.city}}
          </p>
          <p>
            Deals in Sports:{{oneRecord.sports}}
          </p>
          <p>
            Website:{{oneRecord.website}}
          </p>
          <p>
            Insta Link:{{oneRecord.instagram}}
          </p>
          <p>
            Organization Head:{{oneRecord.head}}
          </p>
          <p>
            Contact Number:{{oneRecord.contact}}
          </p>
          <p>
            Other Information:{{oneRecord.info}}
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  
</body>
</html>